<div>
  <h1>STUDENT REGISTER FORM</h1>
  <form class="example-form" [formGroup]="studentForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Student ID</mat-label>
      <input matInput placeholder="" formControlName="code" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Gender</mat-label>
      <input matInput placeholder="" formControlName="gender" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput placeholder="" formControlName="firstName" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="" formControlName="lastName" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Birth date</mat-label>
      <input matInput placeholder="" formControlName="dob" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" formControlName="email" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder="" formControlName="phone" require />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Picture</mat-label>
      <input matInput placeholder="" formControlName="picture" require />
    </mat-form-field>
    <!-- <br />
    <button [disabled]="!studentForm.valid" mat-raised-button color="primary" type="submit">Submit</button> -->
    <br />
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="SaveAndGoToList()"
    >
      Save & Go to list
    </button>
    &nbsp;
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="SaveAndAddNewStudent()"
    >
      Save <span *ngIf="id <= 0">& Add new student</span>
    </button>
    &nbsp;
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="randomStudent()"
      *ngIf="id <= 0"
    >
      Get random a student
    </button>
  </form>
  <!-- <button (click)="updateName()">Update Name</button> -->
</div>
