<div>
  <button mat-raised-button color="primary" (click)="AddStudent()">
    <mat-icon>person_add</mat-icon>
    Add Student
  </button>
  <br/>
  <br/>
  <table id="customers" style="border-collapse: collapse">
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Gender</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student?.id }}</td>
      <td>{{ student?.code }}</td>
      <td>{{ student?.gender }}</td>
      <td>{{ student?.firstName }}</td>
      <td>{{ student?.lastName }}</td>
      <td>{{ student?.email }}</td>
      <td>{{ student?.phone }}</td>
      <td>
        <button mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp;
        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
