<div>
  <button mat-raised-button color="primary" (click)="AddStudent()">
    <mat-icon>person_add</mat-icon>
    Add Student
  </button>
  <br/>
  <br/>
  <table id="customers" style="border-collapse: collapse">
    <tr>
      <th>Id</th>
      <th>Picture</th>
      <th>Code
        <mat-icon style="cursor: pointer" (click)="sortCodeStudent('down')">arrow_downward</mat-icon>
        <mat-icon style="cursor: pointer" (click)="sortCodeStudent('up')">arrow_upward</mat-icon>
      </th>
      <th>Gender</th>
      <th>Day of birth</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student?.id }}</td>
      <td>
        <img *ngIf="student?.picture" src="{{ student?.picture }}" height="50"/>
      </td>
      <td>{{ student?.code }}</td>
      <td>{{ student?.gender }}</td>
      <td>{{ student?.dob }}</td>
      <td>{{ student?.firstName }}</td>
      <td>{{ student?.lastName }}</td>
      <td>{{ student?.email }}</td>
      <td>{{ student?.phone }}</td>
      <td>
        <button (click)="editEachStudent(student.id)" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp;
        <button (click)="deleteEachStudent(student.id)" mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
